
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li><a href="/Consultas/RoosterYear">Equipos por año</a></li>
    <li><a href="/Consultas/PilotsYear">Pilotos por año</a></li>
    <li><a href="/Gestion/CrearEquipo">Crear Equipos</a></li>
</ul>