
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li><a href="/Consultas/RoosterYear">Equipos por año</a></li>
    <li><a href="/Gestion/CrearEquipo">Crear Equipos</a></li>
    <li><a href="/Consultas/DriversYear">Pilotos por año</a></li>
    <li><a href="/Gestion/CrearPiloto">Crear Pilotos</a></li>
</ul>